body{
    background-color: lightcyan;
}

header {
    text-align: center;
}

#attributes {
    width: 60%;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    background-color: cornsilk;
}

.sizersContainer {
    display: flex;
    margin-left: 25%;
    margin-right: auto;
    text-align: center;
    width: 60%;
}

.status {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

#active {
    width: 200px;
    height: 20px;
}
#resetButton {
    width: 200px;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

.gridContainer {
    display: grid;
    width: 65%;
    height: 65%;
    margin: 2rem auto;
    border: 2px solid black;
}

.gridBlock {
    padding: 0.5em;
    border: 1px solid black;
    background: rgb(247, 255, 255);

}

footer {
    text-align: center;
    margin-bottom: 1fr;
}

/* Rainbow Slider */ 
.rainbow {
    -webkit-appearance: none;
    width: 300px;
    height: 20px;
    background-color: cornsilk;
}

.rainbow::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  background: linear-gradient(to right,
        hsl(0, 100%, 50%) 0%, 
        hsl(36, 100%, 50%) 10%,
        hsl(72, 100%, 50%) 20%,
        hsl(108, 100%, 50%) 30%,
        hsl(144, 100%, 50%) 40%,
        hsl(180, 100%, 50%) 50%,
        hsl(216, 100%, 50%) 60%,
        hsl(252, 100%, 50%) 70%,
        hsl(288, 100%, 50%) 80%,
        hsl(324, 100%, 50%) 90%,
        hsl(360, 100%, 50%) 100%
    );
  border-radius: 25px;
  border: 0px solid #000101;
}

.rainbow::-webkit-slider-thumb {
  height: 25px;
  width: 10px;
  border-radius: 7px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  background-color: black;
}